NODE_ENV=DEVELOPMENT
HOST=0.0.0.0
PORT=5000

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/educlinic?schema=public

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_ACCESS_SECRET=supersecretjwtkey12345
JWT_TOKEN_EXPIRY=86400

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret